// :host {
//   display: flex;
//   justify-content: center;
//   margin: 100px 0px;
// }

// .mat-form-field {
//   width: 100%;
//   min-width: 300px;
// }

// mat-card-title,
// mat-card-content {
//   display: flex;
//   justify-content: center;
// }

// .error {
//   padding: 16px;
//   width: 300px;
//   color: white;
//   background-color: red;
// }

// .button {
//   display: flex;
//   justify-content: center;
// }



.logo {
  margin-bottom:60px;
}

.log-padTop{
  padding-top:70px;
}

.login-error{
  color: red;
  font-size: 14px;
  /* position: absolute;
  width: calc(100% - 150px);
  right: 38px;
  bottom: 10px; */
}

.successmgs{
  color:green;
}

.forgot-pass {
  font-size: 12px !important;
  padding-top: 5px;
  cursor: pointer;
  margin-top: -18px;
  color: #565fd8 !important;
  font-weight: 400 !important;
}
